{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Audible</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.css'>
<link rel="stylesheet" href="{% static 'style.css' %}">

<style>
    .artist__header {
  background-image: url({% static 'audiobook_profile.jpg' %});
}
.artist__header:before {
    background-image: url({% static 'audiobook_profile.jpg' %});
}
</style>


</head>
<body>
<!-- partial:index.partial.html -->
<section class="header">

    <div class="page-flows">
    
      <span class="flow">
        <i onclick="history.back()" class="ion-chevron-left"></i>
      </span>
      <!--
      <span class="flow">
        <i class="ion-chevron-right disabled"></i>
      </span>
      -->
      
    </div>
    
    <div class="search">
    <form action="/" method="POST" autocomplete="off" novalidate>{% csrf_token %}
  
      <input name="query" id="query" type="text" placeholder="Search" />
  
    </form>
      
    </div>
    
    <div class="user">
    
      
      <div class="user__info">
      
        <span class="user__info__img">
        
          <img src="{% static 'user_icon.bmp' %}" alt="Profile Picture" class="img-responsive" />
          
        </span>
        
        <span class="user__info__name">
        
          <span class="first">{{user.firstname}}</span>
          
          <span class="last">{{user.lastname}}</span>
          
        </span>
        
      </div>
      
      <div class="user__actions">
      
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="ion-chevron-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="/logout/">Log Out</a></li>
          </ul>
        </div>
        
      </div>
      
    </div>
    
  </section>

  <section class="content">

    <div class="content__left">
    
      <section class="navigation">
  
          <!-- Main -->
          <div class="navigation__list">
  
            <div class="navigation__list__header" 
                 role="button" 
                 data-toggle="collapse" 
                 href="/" 
                 aria-expanded="true" 
                 aria-controls="main">
              HOME
            </div>
            
            <div class="collapse in" id="main">
            
              <a href="/" class="navigation__list__item">
                <i class="ion-ios-browsers"></i>
                <span>Browse</span>
              </a>
              
            </div>
  
          </div>
          <!-- / -->
  
          <!-- Your Music -->
          <div class="navigation__list">
  
            <div class="navigation__list__header" 
                 role="button" 
                 data-toggle="collapse" 
                 href="/" 
                 aria-expanded="true" 
                 aria-controls="yourMusic">
              YOUR PLAYLIST
            </div>
            
            <div class="collapse in" id="yourMusic">
            
              <a href="/" class="navigation__list__item">
                <i class="ion-headphone"></i>
                <span>Audiobooks</span>
              </a>
  
              <a href="/" class="navigation__list__item">
                <i class="ion-ios-musical-notes"></i>
                <span>Podcasts</span>
              </a>
  
              <a href="/" class="navigation__list__item">
                <i class="ion-person"></i>
                <span>Authors</span>
              </a>
  
              <a href="/" class="navigation__list__item">
                <i class="ion-document"></i>
                <span>Genres</span>
              </a>
              
            </div>
  
          </div>
          <!-- / -->
  
          <!-- Playlists -->
          <div class="navigation__list">

            <div class="navigation__list__header" role="button" data-toggle="collapse" href="/"
                aria-expanded="true" aria-controls="playlists">
                Audiobooks
            </div>
            
            <div class="collapse in" id="playlists">
                
                {% for buy in buys.iterator %}
                <a href="/book/{{buy.bookid.bookid}}/" class="navigation__list__item">
                    <i class="ion-headphone"></i>
                    <span>{{buy.bookid.title}}</span>
                </a>
                {% endfor %}

            </div>

        </div>
        <!-- / -->
  
        </section>
      
        <!--
      <section class="playlist">
  
        <a href="#">
  
          <i class="ion-ios-plus-outline"></i>
  
          New Playlist
  
        </a>
  
      </section>
    -->
      
  
      <!--
      <section class="playing">
  
        <div class="playing__art">
  
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/cputh.jpg" alt="Album Art" />
  
        </div>
  
        <div class="playing__song">
  
          <a class="playing__song__name">Some Type of Love</a>
  
          <a class="playing__song__artist">Charlie Puth</a>
  
        </div>
  
        <div class="playing__add">
  
          <i class="ion-checkmark"></i>
  
        </div>
  
      </section>
    -->
    </div>
  
    










    
  
  <div class="content__middle">
  
    <div class="artist is-verified">
    
      <div class="artist__header">
      
        <div class="artist__info">
        
          <div class="profile__img">
          
            <img src="{% static 'author.jpg' %}" style="" alt="" />
            
          </div>
          
          <div class="artist__info__meta">
          
            <div class="artist__info__type">AUTHOR</div>
            
            <div class="artist__info__name">{{ author.name }}</div>
            
            <!--<div class="artist__info__actions">
            
              <button class="button-dark">
                <i class="ion-ios-play"></i>
                Play
              </button>
              
              <button class="button-light">Follow</button>
              
              <button class="button-light more">
                <i class="ion-ios-more"></i>
              </button>
              
            </div>-->
            
          </div>
          
          
        </div>
        
        <div class="artist__listeners">
        <!--
          <div class="artist__listeners__count">{{PLAYS_COUNT}}</div>
          
          <div class="artist__listeners__label">PLAYS</div>
        -->
        </div>
        
        <div class="artist__navigation">
        
          <ul class="nav nav-tabs" role="tablist">
            
            <li role="presentation" class="active">
              <a aria-controls="artist-overview" role="tab" data-toggle="tab">Overview</a>
            </li>
            
            <!--<li role="presentation">
              <a href="#artist-about" aria-controls="artist-about" role="tab" data-toggle="tab">About</a>
            </li>-->
            
          </ul>
          
        </div>
        
      </div>
      
      <div class="artist__content">
      
        <div class="tab-content">
      
          <!-- Overview -->
          <div role="tabpanel" class="tab-pane active" id="artist-overview">
            
            <div class="overview">
            
              <div class="overview__artist">
            

                <!-- Books -->
                <div class="section-title">BOOKS</div>

                <div class="tracks">


                    {% for book in bookvs.iterator %}

                    <!-- Track -->
                    <div class="track">

                        <div class="track__art">

                            <img src="{% static 'headphones.jpg' %}" alt="" />

                        </div>

                        <!--
                        <div class="track__added">

                            <i class="ion-checkmark-round added"></i>

                        </div>
                        -->

                        <div class="track__added">

                            <i class="ion-plus not-added"></i>

                        </div>

                        <div class="track__title featured">
                            <span class="title"><a href="/book/{{book.bookid}}/" style="color:white;">{{book.title}}</a></span>
                            <span class=""
                                style="margin-right:10px; color:darkgray">{{book.authornames}}</span>
                        </div>


                        <div class="track__explicit" style="margin-right: 5px;">

                            <span class="label">{{book.genres}}</span>

                        </div>

                        <div class="track__explicit">

                            <span class="label">{{book.languages}}</span>

                        </div>

                        <div class="track__plays">{{book.price}} €</div>

                    </div>

                    <!-- End Track -->
                    {% endfor %}

                    <br><br><br><br><br><br>
                </div>

                <!-- / -->
              
              </div>
            
            </div>
          
          </div>
          <!-- / -->


        </div>
        
      </div>
      
    </div>
    
  </div>
  
</section>













<!--


<section class="current-track">

    <section class="playing">

        <div class="playing__art">
  
          <img src="./book_playing_icon.bmp" alt="Album Art" />
  
        </div>
  
        <div class="playing__song">
  
          <a class="playing__song__name">{{CURR_TITLE}}</a>
  
          <a class="playing__song__artist">{{CURR_AUTHOR}}</a>
  
        </div>
  
  
      </section>
      

  <div class="current-track__actions">
  
    <a class="ion-ios-skipbackward"></a>
    
    <a class="ion-ios-play play"></a>
    
    <a class="ion-ios-skipforward"></a>
    
  </div>
  
  <div class="current-track__progress">
  
    <div class="current-track__progress__start">0:01</div>
    
    <div class="current-track__progress__bar">
      
      <div id="song-progress"></div>
      
    </div>
    
    <div class="current-track__progress__finish">48:23</div>
    
  </div>

  
  <div class="current-track__options">
  
    <span class="controls">
    
      <a href="#" class="control volume">
        
        <i class="ion-volume-high"></i>
      
        <div id="song-volume"></div>
        
      </a>
      
    </span>
    
  </div>
  
</section>

-->








<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.js'></script><script  src="./script.js"></script>

</body>
</html>
